/* Chart container styles */
.chart-container {
    display: flex;
    margin-top: 120px;
    justify-content: center;
}

/* Tooltip styles */
/* ChartComponent.css */
rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 15px;
    background-color: rgb(11, 40, 65);
    color: white;
    border: 0px solid white;
    border-radius: 0px;
    display: none;
    opacity: .75;
    font-size: 14px;
}

.tooltip-line {
    stroke-opacity: 0.5;
}

.chart-title {
    fill: red; /* Fill color for the text */
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: start; /* Centers the text horizontally */
    dominant-baseline: mathematical; /* Adjusts the vertical alignment */
}

.tooltip div {
    margin: 5px 0; /* Add some spacing between rows */
}

.tooltip:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #fff transparent transparent transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Crosshair styles */
.crossline {
    stroke: #aaa;
    stroke-dasharray: 3 3;
    pointer-events: none;
}

.crossline-x {
    stroke-width: 1;
}

.crossline-y {
    stroke-width: 1;
}

/* Candle chart styles */
.candle-up {
    fill: green;
    stroke: green;
}

.candle-down {
    fill: red;
    stroke: red;
}

/* Add more styles as needed for your specific chart component */
