.app-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    align-self: flex-start;
  }

  .content {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;

    table {
      width: 50%;
      border-collapse: collapse;
      background-color: #fff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

      th,
      td {
        padding: 12px 15px;
        text-align: left;
      }

      th {
        background-color: #007bff;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #ddd;
      }
      .bold-property {
        font-weight: bold; /* Add this to make the first cell bolder */
      }
    }
  }

  .footer {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    align-self: flex-end;
  }
}
